h1 {
    font-size: 50px;
    text-align: center;
    color: #7494ec;
}

span {
    color: #7494ec;
}

.box p {
    font-size: 22px;
    font-weight: 500;
}

.box button {
    display: block;
    width: 300px;
    margin: 0 auto;
}

.box button:hover {
    background-color: goldenrod;
}